body {
	font-family: Verdana,sans-serif;
	font-size: 0.9em;
}

header, footer {
	padding: 10px;
	color: white;
	background-color: green;
}

section {
	margin: 5px;
	padding: 10px;
	background-color: lightblue;
}

article {
	margin: 5px;
	padding: 10px;
	background-color: white;
}

nav ul {
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 5px;
}