* {box-sizing: border-box}

body {
	margin:0px;
	font-family: verdana;
	line-height: 1.4em;
	font-family: 'Roboto', Verdana;
	color: #111111;
}

header {text-align:center}
header h2 {color: red}
table {border-spacing: 20px}

table th {
	font-size: 20px;
	width: 33%;
	text-align: center;
	color: green;
}

table td {
	font-size: 12px;
	text-align: center;
	padding: 10px;
	vertical-align: text-top;
}

article p {
	font-size: 13px;
	margin-right: 30px;
}

img.fotoPortifolio {
	transition: all 0.5s; 
	position: relative; 
	opacity: 0.5;
}

img.fotoPortifolio:hover {
	box-shadow: 10px 10px 20px gray;
	top: -2px;	
	left: -2px;
	opacity: 1;
}

.scroll {
	overflow-x: auto;
	overflow-y: hidden;
	height: 420px;
	white-space: nowrap;
}

footer {
	background-color: black;
	padding: 40px;
	text-align: center;
	color: white;
	font-size: 12px;
}

.center {text-align: center}
.justify {text-align: justify}
.left {text-align: left}
.right {text-align: right}
.tarjaCinza {background-color: #F4F4F4}

/* Configuracoes para todos os menus (grandes/pequenos). Autor: Wilton Filho  */
.menuDispGrande {
	list-style: none;
	margin: 0px;
	padding: 20px 0px;
	text-align: right;
}

.menuDispGrande, .menuDispPequeno label {background-color: black}
.menuDispPequeno a {background-color: #3b3b3b}
header nav ul li {display: inline}

header ul a {
	transition: all 0.4s;
	background-position: -80px 17px;
}

header a {
	color: white;
	font-size: 14px;
	text-decoration: none;
	padding: 25px;
}

/* Configuração para o menu para dispositivos grandes. Autor: Wilton Filho */
.menuDispGrande a:hover {
	color: black;
	background-color: white;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-position: 10px 17px;
	background-size: 30px 30px;
}

.menuDispGrande li:nth-child(1) a:hover {background-image: url(../imagens/html5.png)}
.menuDispGrande li:nth-child(2) a:hover {background-image: url(../imagens/css3.png)}
.menuDispGrande li:nth-child(3) a:hover {background-image: url(../imagens/javascript.png)}

/* Configuração para o menu para dispositivos pequenos. Autor: Wilton Filho */
.menuDispPequeno {display: none}

.menuDispPequeno a, .menuDispPequeno label {
	display: block;
	padding: 10px;
	cursor: pointer;
}

.menuDispPequeno label {
	text-align: right;
	padding-right: 20px;
	font-size: 15px;
}

input[type=checkbox] {
	position: absolute;
	top: -99999px;
	left: -99999px;
}

footer a {
	color:white;
	text-decoration:none;
}
.menuDispPequeno .opcaoMenu {display: none}
input[type=checkbox]:checked ~ .opcaoMenu {display: block}
.opcaoMenu:hover{background-color: #FFD83A;color: black}


/* Configuracao para animar uma caixa contendo um imagem */
.containerExtImgAnimada {
	position: relative;
	float: left;
}
	
.imgAnimada {
	display: block;
	width: 100%;
	height: auto;
}

.containerIntImgAnimada {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	height: 0%;
	width: 100%;
	transition: 1s all;
	background-color: #3C9BDB;
}

.txtImgAnimada {
	position: absolute;
	left: 50%;
	top: 50%;
	width:100%;
	text-align:center;
	transform: translate(-50%, -50%);
	color: white;
}

.containerExtImgAnimada:hover .containerIntImgAnimada {
	opacity: .85;
	height: 100%;
}

/* Configuracoes especificas para cada tipo de dispositivo */
@media only screen and (min-width:0px) and (max-width:600px) {
	header .menuDispGrande {display: none}
	header .menuDispPequeno {display: block}
	img#imgTopo{content: url(../imagens/topo_resp.png);}
	
	header h1 {
		font-size: 18px;
		font-weight: bold;
	}
	
	h2 {
		font-size: 13px; 
		margin: 0px
	}
	
	.marginSecao {padding: 10px 0px 20px 0px;}
	.visibilidade {display: none}
	
	.logoTecnologias {width: 50%}
	article img.sobreEmpresa {width: 45%}
	article {padding: 15px}
	.scroll img {width: 220px}
	.scroll {height: 290px}
	footer img {width: 70%}
	/* Configuracao para animar uma caixa contendo um imagem */
	.containerExtImgAnimada {
		width: 50%;
		margin-right:20px;
	}
}

@media only screen and (min-width:600px){
	header .menuDispGrande {display: block}
	header .menuDispPequeno {display: none}
	img#imgTopo {content: url(../imagens/topo.png);}
	
	header h1 {
		font-size: 35px;
		transition: all 0.5s;
	}
	
	header h1:hover {
		letter-spacing: 10px;
		text-shadow: 1px 1px 1px yellow;
	}
	
	header h2 {
		color: red;
		transition: all 1s;
	}
	.marginSecao {padding: 20px 30px}
	header h2:hover {color: green}
	.visibilidade {display: block}
	h2 {font-size: 20px;}
	.logoTecnologias {width: 20%}
	article img.sobreEmpresa {width: 30%}
	article {padding: 40px}
	footer img {width: 250px}
	/* Configuracao para animar uma caixa contendo um imagem */
	.containerExtImgAnimada {
		width: 350px;
		margin-right:20px;
	}
}